.headertext {
  font-size: 60px;
  text-align: center;
  margin: auto;
  color: black;
}

.header {
  background-color: rgb(0, 132, 255);
  margin: auto;
}

.picture {
  padding-top: 250px;
}

html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #123;
  }
  
  body, head {
    display: block;
    font-size: 52px;
    color: transparent;
  }
  
  head::before, head::after,
  body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  body::before {
    text-shadow: -0.3471807184em 2.3375236442em 7px rgba(227, 255, 0, 0.9), 0.6724628416em 1.0654111414em 7px rgba(255, 183, 0, 0.9), 1.2822084471em -0.3349073408em 7px rgba(255, 53, 0, 0.9), 1.5872799302em 0.7651675284em 7px rgba(255, 60, 0, 0.9), 0.4795871474em 1.0583819876em 7px rgba(188, 255, 0, 0.9), -0.2317627706em -0.3610872652em 7px rgba(255, 241, 0, 0.9), 0.0018402469em -0.0959029929em 7px rgba(0, 174, 255, 0.9), 1.3319241525em -0.4761376114em 7px rgba(0, 50, 255, 0.9), 1.0160929432em 2.2270279394em 7px rgba(255, 0, 138, 0.9), 1.7444913682em 0.4601335617em 7px rgba(0, 159, 255, 0.9), 1.7057519138em 0.628309605em 7px rgba(0, 255, 151, 0.9), 1.6315009826em 0.4229200786em 7px rgba(0, 62, 255, 0.9), 2.2342499602em 2.4246040671em 7px rgba(78, 255, 0, 0.9), 0.3445117387em 1.5512700146em 7px rgba(42, 0, 255, 0.9), -0.2653546183em 0.7603045007em 7px rgba(255, 234, 0, 0.9), 1.1659510472em 0.7157469296em 7px rgba(255, 0, 108, 0.9), 1.4509097956em 1.1813000808em 7px rgba(0, 255, 241, 0.9), -0.4779561937em -0.1097499025em 7px rgba(0, 120, 255, 0.9), 0.9339682351em -0.0840724189em 7px rgba(185, 0, 255, 0.9), 1.2569618808em 0.5118712329em 7px rgba(153, 255, 0, 0.9), 1.8611928144em 1.7606226909em 7px rgba(255, 96, 0, 0.9), 0.7781418831em 1.8913741201em 7px rgba(255, 43, 0, 0.9), 0.6669899852em 1.5111678157em 7px rgba(255, 0, 80, 0.9), 1.5780381827em 0.2719433337em 7px rgba(255, 0, 206, 0.9), 1.3632168807em 0.220047054em 7px rgba(255, 183, 0, 0.9), 2.3412006446em -0.076817232em 7px rgba(86, 0, 255, 0.9), 1.4881910822em 2.2705001786em 7px rgba(255, 120, 0, 0.9), 0.5147943556em 1.8057865588em 7px rgba(0, 253, 255, 0.9), 1.3529428915em 0.8867118621em 7px rgba(21, 255, 0, 0.9), 0.9842212254em 1.9713416066em 7px rgba(225, 255, 0, 0.9), -0.1768832559em 0.5124167385em 7px rgba(175, 0, 255, 0.9), 0.585694838em 0.5808571977em 7px rgba(120, 255, 0, 0.9), 1.7167576405em -0.1687379326em 7px rgba(0, 125, 255, 0.9), -0.4483983923em 0.5703433005em 7px rgba(255, 0, 8, 0.9), 0.169298272em 2.2138838026em 7px rgba(255, 151, 0, 0.9), 0.2096562714em 0.3354435157em 7px rgba(114, 255, 0, 0.9), -0.4291732263em 1.7667082027em 7px rgba(178, 255, 0, 0.9), 0.0015251136em 0.1011982608em 7px rgba(55, 0, 255, 0.9), 1.9710978229em 0.9576776438em 7px rgba(0, 83, 255, 0.9), 0.679986185em 2.3077732655em 7px rgba(255, 110, 0, 0.9), 2.368006004em 2.1534063882em 7px rgba(255, 0, 216, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  body::after {
    text-shadow: 0.5906003191em 0.9679272688em 7px rgba(0, 255, 8, 0.9), 1.1267392502em 0.6874931776em 7px rgba(0, 255, 75, 0.9), 1.3485479109em 0.8425123303em 7px rgba(0, 255, 126, 0.9), 0.3299403315em 1.5596681286em 7px rgba(0, 255, 110, 0.9), 1.4054922167em 2.3521713777em 7px rgba(0, 195, 255, 0.9), 1.3928949287em 2.1354315739em 7px rgba(255, 0, 33, 0.9), 2.2959732843em 0.6838202876em 7px rgba(0, 107, 255, 0.9), 0.1867058677em 0.2740861926em 7px rgba(255, 61, 0, 0.9), 0.5479794983em 1.8806402429em 7px rgba(77, 0, 255, 0.9), 0.2236489971em 2.4466853531em 7px rgba(239, 0, 255, 0.9), 1.7644195233em 1.3380450823em 7px rgba(100, 255, 0, 0.9), 2.2905149026em 1.2090882891em 7px rgba(0, 255, 122, 0.9), 0.7342050912em 1.9775142049em 7px rgba(255, 0, 246, 0.9), 0.2004214206em 1.4960864586em 7px rgba(255, 0, 50, 0.9), 0.2224699414em -0.2235526326em 7px rgba(255, 0, 143, 0.9), 0.5621514242em -0.1990323059em 7px rgba(255, 0, 97, 0.9), 1.0878550201em 0.2578893267em 7px rgba(0, 12, 255, 0.9), 1.5711647318em 1.149604886em 7px rgba(255, 174, 0, 0.9), 1.0991394877em 0.5938977414em 7px rgba(0, 212, 255, 0.9), 0.282070135em 1.5968775033em 7px rgba(255, 0, 245, 0.9), 0.6994059118em 0.4730310044em 7px rgba(237, 255, 0, 0.9), -0.1202130185em 0.7523954163em 7px rgba(255, 225, 0, 0.9), 1.3703175126em 2.202469836em 7px rgba(0, 255, 5, 0.9), 1.8417318618em 0.4582298102em 7px rgba(184, 0, 255, 0.9), 0.6440805111em 0.5862309773em 7px rgba(255, 0, 211, 0.9), 2.1970750327em 1.0806617984em 7px rgba(218, 0, 255, 0.9), 2.3122674162em 0.1709238649em 7px rgba(91, 255, 0, 0.9), 1.5329913452em -0.1826042154em 7px rgba(0, 179, 255, 0.9), 0.5157149157em 0.0825239139em 7px rgba(0, 229, 255, 0.9), 2.1082177471em 0.8543700557em 7px rgba(255, 244, 0, 0.9), 0.9572088073em 2.2524727859em 7px rgba(49, 0, 255, 0.9), 0.2546069963em 0.2753889643em 7px rgba(0, 255, 1, 0.9), 0.5230886639em 1.6725008719em 7px rgba(165, 255, 0, 0.9), 1.6439612668em 2.3181928981em 7px rgba(0, 255, 202, 0.9), 1.961544156em 2.2004663692em 7px rgba(0, 152, 255, 0.9), 2.4258811082em 1.0920233492em 7px rgba(0, 211, 255, 0.9), 0.2228443284em 0.2676975661em 7px rgba(152, 0, 255, 0.9), -0.4288304396em 0.8959741739em 7px rgba(255, 199, 0, 0.9), 0.7722655164em 0.7951769131em 7px rgba(0, 148, 255, 0.9), 1.9359733546em 1.6015439965em 7px rgba(0, 144, 255, 0.9), 1.27138974em 0.5408846253em 7px rgba(0, 255, 223, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    text-shadow: 2.3669480663em 1.1941007211em 7px rgba(255, 0, 92, 0.9), 1.5859034611em -0.0852699102em 7px rgba(142, 0, 255, 0.9), 0.064048821em 1.0766766532em 7px rgba(255, 0, 26, 0.9), 0.9319144588em 0.958794114em 7px rgba(105, 255, 0, 0.9), 2.3737065045em 1.0031128694em 7px rgba(0, 144, 255, 0.9), 0.6209406743em 1.0469080041em 7px rgba(0, 255, 207, 0.9), 0.1232015321em 0.6694625079em 7px rgba(0, 255, 54, 0.9), 0.9359296362em 2.4285938251em 7px rgba(0, 222, 255, 0.9), 0.8604153512em 1.5607971079em 7px rgba(0, 255, 170, 0.9), 0.6544906151em -0.0475531065em 7px rgba(212, 0, 255, 0.9), 1.844717429em 1.6436202612em 7px rgba(204, 0, 255, 0.9), 2.0063575576em 1.257282692em 7px rgba(0, 255, 204, 0.9), -0.395525128em -0.0082865939em 7px rgba(78, 0, 255, 0.9), 0.4817463647em -0.4107983504em 7px rgba(0, 255, 177, 0.9), 2.0797957163em -0.4430940159em 7px rgba(81, 255, 0, 0.9), 2.2693438593em 2.2136596318em 7px rgba(255, 0, 112, 0.9), 0.8515667234em 0.0637551598em 7px rgba(58, 0, 255, 0.9), -0.3667819884em 0.1978111929em 7px rgba(212, 255, 0, 0.9), 2.49838315em 2.1905207052em 7px rgba(255, 0, 234, 0.9), 0.3793334229em 0.669006087em 7px rgba(188, 0, 255, 0.9), 1.5702519773em 0.1331015705em 7px rgba(251, 255, 0, 0.9), 1.8578494178em 0.9665173133em 7px rgba(255, 243, 0, 0.9), 0.0698400958em 0.353182548em 7px rgba(144, 0, 255, 0.9), 0.8738986242em 0.8306430966em 7px rgba(0, 76, 255, 0.9), 1.4442381658em 2.2022486458em 7px rgba(0, 78, 255, 0.9), 0.5561652646em 2.4681329356em 7px rgba(0, 255, 152, 0.9), 1.7223636557em 0.8277641416em 7px rgba(255, 0, 148, 0.9), 1.9692066676em 2.227025818em 7px rgba(255, 181, 0, 0.9), 0.7508537567em 0.3359838256em 7px rgba(0, 255, 111, 0.9), 1.7499047362em 2.4420943751em 7px rgba(0, 86, 255, 0.9), 1.0995932584em -0.1392543169em 7px rgba(255, 165, 0, 0.9), 0.688136831em 1.0118886229em 7px rgba(184, 0, 255, 0.9), 0.6382544618em -0.2089503922em 7px rgba(200, 255, 0, 0.9), -0.1064623446em 0.9317522315em 7px rgba(255, 77, 0, 0.9), 0.842294699em 2.2342723336em 7px rgba(86, 255, 0, 0.9), 0.2783155188em 0.7266251168em 7px rgba(255, 0, 22, 0.9), 0.2350217101em 0.9376771643em 7px rgba(39, 0, 255, 0.9), 1.5085133477em -0.1510338677em 7px rgba(154, 255, 0, 0.9), 1.0388858252em -0.0684734774em 7px rgba(0, 255, 235, 0.9), -0.3305779686em 0.6366544024em 7px rgba(0, 110, 255, 0.9), 0.1358111406em 2.2393004704em 7px rgba(111, 0, 255, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: 0.3922697075em -0.4470566132em 7px rgba(169, 255, 0, 0.9), 1.1617767891em 2.485631331em 7px rgba(255, 38, 0, 0.9), 0.6424413685em 0.7661739744em 7px rgba(215, 255, 0, 0.9), 1.7703628347em 2.3780489609em 7px rgba(0, 137, 255, 0.9), 0.5093106702em 1.1328395514em 7px rgba(255, 58, 0, 0.9), -0.4050553289em -0.4855064146em 7px rgba(51, 255, 0, 0.9), 1.5247587726em 2.294206997em 7px rgba(0, 178, 255, 0.9), -0.1944375736em -0.3513667811em 7px rgba(255, 0, 218, 0.9), 1.4528950846em 1.2268304581em 7px rgba(49, 255, 0, 0.9), 0.2087175427em 2.2011173691em 7px rgba(44, 255, 0, 0.9), 0.615193828em 2.1218928584em 7px rgba(0, 19, 255, 0.9), 0.1841561534em 1.7618794535em 7px rgba(0, 255, 223, 0.9), -0.1514674489em 0.2891309768em 7px rgba(50, 255, 0, 0.9), -0.1936584425em -0.4121035403em 7px rgba(24, 255, 0, 0.9), 0.1054913031em 0.5649350474em 7px rgba(255, 38, 0, 0.9), 0.7244292045em 2.2235996215em 7px rgba(0, 126, 255, 0.9), -0.4560741806em 0.0718203731em 7px rgba(9, 0, 255, 0.9), 1.5250346143em -0.1166210916em 7px rgba(255, 115, 0, 0.9), 0.2004799959em 0.6822398772em 7px rgba(255, 0, 242, 0.9), -0.3745900181em 2.1551981861em 7px rgba(255, 77, 0, 0.9), 0.9892248754em 1.7616152882em 7px rgba(121, 255, 0, 0.9), 1.9361650842em 1.6789891296em 7px rgba(0, 245, 255, 0.9), 0.6719305614em 2.0675021092em 7px rgba(0, 255, 95, 0.9), 1.6344107508em 0.9761085565em 7px rgba(255, 162, 0, 0.9), 0.9458784281em 1.8640273799em 7px rgba(206, 255, 0, 0.9), 2.1667367332em 2.1652750476em 7px rgba(0, 255, 105, 0.9), 1.9728341122em 0.5066118988em 7px rgba(0, 255, 131, 0.9), 1.3975987275em 0.9925083073em 7px rgba(255, 204, 0, 0.9), 1.8575678752em 1.0000827619em 7px rgba(57, 255, 0, 0.9), 0.2678844477em -0.0986967715em 7px rgba(47, 0, 255, 0.9), 1.1747978158em 0.1139290445em 7px rgba(0, 255, 195, 0.9), 1.7991922578em 0.7556235273em 7px rgba(228, 255, 0, 0.9), 0.9740670535em 1.0352302146em 7px rgba(56, 255, 0, 0.9), 0.2118207045em 1.3671171441em 7px rgba(141, 255, 0, 0.9), 2.4309411093em 0.9157159614em 7px rgba(238, 255, 0, 0.9), 0.5293080841em 0.4303439414em 7px rgba(0, 255, 241, 0.9), 0.6337044196em 0.2819420243em 7px rgba(30, 0, 255, 0.9), 2.2058392929em 0.0139446443em 7px rgba(0, 194, 255, 0.9), 1.4840743663em 1.557623941em 7px rgba(255, 69, 0, 0.9), -0.473458773em 1.01959033em 7px rgba(0, 255, 85, 0.9), 0.6278730063em 2.2597934867em 7px rgba(0, 87, 255, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
  
  html::before {

    letter-spacing: 0.5em;
    text-shadow: 0 0 5px #000;
    white-space: pre;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #999;
  }
  
  html:first-line {
    font-size: 300%;
    font-style: italic;
    letter-spacing: 0;
    color: #fff;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }