body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("bc.png") ;
}

.pika {
  filter: drop-shadow(20px 10px 4px rgb(8 248 248));
}

.bc {
margin-top: 0px;
  background-color: black;
}

.txt {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  filter: drop-shadow(10px 10px 4px rgb(8 248 248));
}


.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 53px -291.6666666667px #44ff00, -212px -187.6666666667px #00ff22, 112px -66.6666666667px #ffaa00, -223px -280.6666666667px #b7ff00, -160px 9.3333333333px #00ff04, 140px -285.6666666667px #ff00e6, 73px -361.6666666667px #ffcc00, 234px 76.3333333333px #c8ff00, -232px -219.6666666667px #ff00c8, -79px -387.6666666667px #ff00cc, -158px -364.6666666667px #88ff00, -156px 52.3333333333px #4400ff, 192px 1.3333333333px #ffbb00, 207px -162.6666666667px #0066ff, -80px -86.6666666667px aqua, -236px -335.6666666667px #ffdd00, 32px -227.6666666667px #ff9900, -215px -214.6666666667px #004dff, 11px -294.6666666667px #11ff00, 197px -130.6666666667px #0040ff, -137px 9.3333333333px deepskyblue, -83px -309.6666666667px #ff8400, -33px -363.6666666667px #fff200, -32px -101.6666666667px #aaff00, 75px 33.3333333333px #2fff00, 88px -348.6666666667px #04ff00, -73px 46.3333333333px #f2ff00, -177px -410.6666666667px #3c00ff, -230px -194.6666666667px #ffc400, 108px -261.6666666667px #00ff88, 58px -402.6666666667px #1eff00, -179px 27.3333333333px #ff00e6, -130px 72.3333333333px #ff00dd, -26px -412.6666666667px #95ff00, 31px -316.6666666667px #00ffc8, 174px -386.6666666667px #9900ff, 183px -299.6666666667px #005eff, 2px -137.6666666667px #00f2ff, -247px 16.3333333333px #ff3c00, -118px -101.6666666667px #ff8400, 215px -67.6666666667px #00ff33, -208px 37.3333333333px #0033ff, -175px -4.6666666667px #ffaa00, -187px -376.6666666667px #00e6ff, -98px -267.6666666667px #ff002b, 224px 25.3333333333px #5500ff, 193px 19.3333333333px #bbff00, -98px 71.3333333333px #e1ff00, -54px -314.6666666667px #00ffcc, 140px -363.6666666667px #00ffb3, 26px -301.6666666667px #fff700;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 53px -291.6666666667px #44ff00, -212px -187.6666666667px #00ff22, 112px -66.6666666667px #ffaa00, -223px -280.6666666667px #b7ff00, -160px 9.3333333333px #00ff04, 140px -285.6666666667px #ff00e6, 73px -361.6666666667px #ffcc00, 234px 76.3333333333px #c8ff00, -232px -219.6666666667px #ff00c8, -79px -387.6666666667px #ff00cc, -158px -364.6666666667px #88ff00, -156px 52.3333333333px #4400ff, 192px 1.3333333333px #ffbb00, 207px -162.6666666667px #0066ff, -80px -86.6666666667px aqua, -236px -335.6666666667px #ffdd00, 32px -227.6666666667px #ff9900, -215px -214.6666666667px #004dff, 11px -294.6666666667px #11ff00, 197px -130.6666666667px #0040ff, -137px 9.3333333333px deepskyblue, -83px -309.6666666667px #ff8400, -33px -363.6666666667px #fff200, -32px -101.6666666667px #aaff00, 75px 33.3333333333px #2fff00, 88px -348.6666666667px #04ff00, -73px 46.3333333333px #f2ff00, -177px -410.6666666667px #3c00ff, -230px -194.6666666667px #ffc400, 108px -261.6666666667px #00ff88, 58px -402.6666666667px #1eff00, -179px 27.3333333333px #ff00e6, -130px 72.3333333333px #ff00dd, -26px -412.6666666667px #95ff00, 31px -316.6666666667px #00ffc8, 174px -386.6666666667px #9900ff, 183px -299.6666666667px #005eff, 2px -137.6666666667px #00f2ff, -247px 16.3333333333px #ff3c00, -118px -101.6666666667px #ff8400, 215px -67.6666666667px #00ff33, -208px 37.3333333333px #0033ff, -175px -4.6666666667px #ffaa00, -187px -376.6666666667px #00e6ff, -98px -267.6666666667px #ff002b, 224px 25.3333333333px #5500ff, 193px 19.3333333333px #bbff00, -98px 71.3333333333px #e1ff00, -54px -314.6666666667px #00ffcc, 140px -363.6666666667px #00ffb3, 26px -301.6666666667px #fff700;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 53px -291.6666666667px #44ff00, -212px -187.6666666667px #00ff22, 112px -66.6666666667px #ffaa00, -223px -280.6666666667px #b7ff00, -160px 9.3333333333px #00ff04, 140px -285.6666666667px #ff00e6, 73px -361.6666666667px #ffcc00, 234px 76.3333333333px #c8ff00, -232px -219.6666666667px #ff00c8, -79px -387.6666666667px #ff00cc, -158px -364.6666666667px #88ff00, -156px 52.3333333333px #4400ff, 192px 1.3333333333px #ffbb00, 207px -162.6666666667px #0066ff, -80px -86.6666666667px aqua, -236px -335.6666666667px #ffdd00, 32px -227.6666666667px #ff9900, -215px -214.6666666667px #004dff, 11px -294.6666666667px #11ff00, 197px -130.6666666667px #0040ff, -137px 9.3333333333px deepskyblue, -83px -309.6666666667px #ff8400, -33px -363.6666666667px #fff200, -32px -101.6666666667px #aaff00, 75px 33.3333333333px #2fff00, 88px -348.6666666667px #04ff00, -73px 46.3333333333px #f2ff00, -177px -410.6666666667px #3c00ff, -230px -194.6666666667px #ffc400, 108px -261.6666666667px #00ff88, 58px -402.6666666667px #1eff00, -179px 27.3333333333px #ff00e6, -130px 72.3333333333px #ff00dd, -26px -412.6666666667px #95ff00, 31px -316.6666666667px #00ffc8, 174px -386.6666666667px #9900ff, 183px -299.6666666667px #005eff, 2px -137.6666666667px #00f2ff, -247px 16.3333333333px #ff3c00, -118px -101.6666666667px #ff8400, 215px -67.6666666667px #00ff33, -208px 37.3333333333px #0033ff, -175px -4.6666666667px #ffaa00, -187px -376.6666666667px #00e6ff, -98px -267.6666666667px #ff002b, 224px 25.3333333333px #5500ff, 193px 19.3333333333px #bbff00, -98px 71.3333333333px #e1ff00, -54px -314.6666666667px #00ffcc, 140px -363.6666666667px #00ffb3, 26px -301.6666666667px #fff700;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 53px -291.6666666667px #44ff00, -212px -187.6666666667px #00ff22, 112px -66.6666666667px #ffaa00, -223px -280.6666666667px #b7ff00, -160px 9.3333333333px #00ff04, 140px -285.6666666667px #ff00e6, 73px -361.6666666667px #ffcc00, 234px 76.3333333333px #c8ff00, -232px -219.6666666667px #ff00c8, -79px -387.6666666667px #ff00cc, -158px -364.6666666667px #88ff00, -156px 52.3333333333px #4400ff, 192px 1.3333333333px #ffbb00, 207px -162.6666666667px #0066ff, -80px -86.6666666667px aqua, -236px -335.6666666667px #ffdd00, 32px -227.6666666667px #ff9900, -215px -214.6666666667px #004dff, 11px -294.6666666667px #11ff00, 197px -130.6666666667px #0040ff, -137px 9.3333333333px deepskyblue, -83px -309.6666666667px #ff8400, -33px -363.6666666667px #fff200, -32px -101.6666666667px #aaff00, 75px 33.3333333333px #2fff00, 88px -348.6666666667px #04ff00, -73px 46.3333333333px #f2ff00, -177px -410.6666666667px #3c00ff, -230px -194.6666666667px #ffc400, 108px -261.6666666667px #00ff88, 58px -402.6666666667px #1eff00, -179px 27.3333333333px #ff00e6, -130px 72.3333333333px #ff00dd, -26px -412.6666666667px #95ff00, 31px -316.6666666667px #00ffc8, 174px -386.6666666667px #9900ff, 183px -299.6666666667px #005eff, 2px -137.6666666667px #00f2ff, -247px 16.3333333333px #ff3c00, -118px -101.6666666667px #ff8400, 215px -67.6666666667px #00ff33, -208px 37.3333333333px #0033ff, -175px -4.6666666667px #ffaa00, -187px -376.6666666667px #00e6ff, -98px -267.6666666667px #ff002b, 224px 25.3333333333px #5500ff, 193px 19.3333333333px #bbff00, -98px 71.3333333333px #e1ff00, -54px -314.6666666667px #00ffcc, 140px -363.6666666667px #00ffb3, 26px -301.6666666667px #fff700;
  }
}
@keyframes bang {
  to {
    box-shadow: 53px -291.6666666667px #44ff00, -212px -187.6666666667px #00ff22, 112px -66.6666666667px #ffaa00, -223px -280.6666666667px #b7ff00, -160px 9.3333333333px #00ff04, 140px -285.6666666667px #ff00e6, 73px -361.6666666667px #ffcc00, 234px 76.3333333333px #c8ff00, -232px -219.6666666667px #ff00c8, -79px -387.6666666667px #ff00cc, -158px -364.6666666667px #88ff00, -156px 52.3333333333px #4400ff, 192px 1.3333333333px #ffbb00, 207px -162.6666666667px #0066ff, -80px -86.6666666667px aqua, -236px -335.6666666667px #ffdd00, 32px -227.6666666667px #ff9900, -215px -214.6666666667px #004dff, 11px -294.6666666667px #11ff00, 197px -130.6666666667px #0040ff, -137px 9.3333333333px deepskyblue, -83px -309.6666666667px #ff8400, -33px -363.6666666667px #fff200, -32px -101.6666666667px #aaff00, 75px 33.3333333333px #2fff00, 88px -348.6666666667px #04ff00, -73px 46.3333333333px #f2ff00, -177px -410.6666666667px #3c00ff, -230px -194.6666666667px #ffc400, 108px -261.6666666667px #00ff88, 58px -402.6666666667px #1eff00, -179px 27.3333333333px #ff00e6, -130px 72.3333333333px #ff00dd, -26px -412.6666666667px #95ff00, 31px -316.6666666667px #00ffc8, 174px -386.6666666667px #9900ff, 183px -299.6666666667px #005eff, 2px -137.6666666667px #00f2ff, -247px 16.3333333333px #ff3c00, -118px -101.6666666667px #ff8400, 215px -67.6666666667px #00ff33, -208px 37.3333333333px #0033ff, -175px -4.6666666667px #ffaa00, -187px -376.6666666667px #00e6ff, -98px -267.6666666667px #ff002b, 224px 25.3333333333px #5500ff, 193px 19.3333333333px #bbff00, -98px 71.3333333333px #e1ff00, -54px -314.6666666667px #00ffcc, 140px -363.6666666667px #00ffb3, 26px -301.6666666667px #fff700;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}